<div class="bottomSheet animate__animated">
    <div class="wrapper bottomCont">
        <div class="bottomCol">
            <div class="statCont">
                <h6>CURRENT TIMEZONE</h6>
                <h2><%=locals.timezoneId%></h2>
            </div>

            <div class="statCont">
                <h6>Day of the year</h6>
                <h2><%=locals.dayOfYear%></h2>
            </div>
        </div>

        <div class="vertLine"></div>

        <div class="bottomCol">
            <div class="statCont">
                <h6>Day of the week</h6>
                <h2><%=locals.dayOfWeek%></h2>
            </div>

            <div class="statCont">
                <h6>Week number</h6>
                <h2><%=locals.weekNumber%></h2>
            </div>
        </div>
    </div>
</div>