<div class="quoteCont">
    <div class="textAndRefresh">
        <p class="quoteText"></p>
        <img src="../images/desktop/icon-refresh.svg" class="refresh">
    </div>
    <p class="author"></p>
</div>
