<div class="timeCont"> 
    <div class="welcome">
        <img src="../images/desktop/icon-sun.svg" class="dayIcon">
        <h4>Good <span class="timeIndicator">Morning</span>, it's currently</h4>
    </div>
    <h1 class="time"></h1>
</div>