

header{
    @include flexCenter(column, 100vh);

    background: $softBg;

    button{
        background-color: $primaryColor;
        padding: $paddingMain;
        border-radius: $paddingMain;
    }
}