.bottomSheet{
    background-color:rgba(255,255,255, 0.75);
    width:100%;
    height:50%;
    display:flex;
    direction:column;
    background-size:cover;
    @include flexCenter(column, 50%);
    padding-top:5rem;
    padding-bottom:5rem;
    backdrop-filter: blur(10px);

    .vertLine{
        border-left:1px solid #B3B6B8;
    }

    .bottomCont{
        flex-direction: row;
        justify-content: flex-start;
        gap:5rem;
    }

    .bottomCol{
        display:flex;
        flex-direction: column;
        gap:2.5rem;
    }

    .statCont{
        display:flex;
        gap:0.5rem;
        flex-direction:column;
    }

    .wrapper{
        h6{
            color:$secondaryColorDarkGrey;
        }
        h2{
            color:$secondaryColorDarkGrey;
        }
        
    }
   
}


.darkMode{
    background-color:rgba(0,0,0, 0.75);
    color:#ffffff;
}

.statDarkmode{
    color:#ffffff !important;
}