.btn{
    height:3.5rem;
    border-radius:28px;
    background-color:$tertiaryColorWhite;
    border-style: none;
    @include font(700, 0rem, 1rem);
    color:$secondaryColorDarkGrey;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding-left:1.5rem;
    padding-right:.5rem;
    padding-top:1rem;
    padding-bottom:1rem;

    &:hover{
        .btnArrow{
            opacity: 0.5;
        }
       cursor: pointer;
    }

    .btnArrowRot{
        transform: rotate(180deg);
    }
}
