.quoteCont{
    display:flex;
    flex-direction: column;
    width:50%;
    gap:1rem;
    .textAndRefresh{
        display:flex;
        flex-direction: row;
        gap:1rem;
        align-items: flex-start;
        .refresh{
            align-self: center;
            cursor: pointer;
        }
    }

    .author{
        font-weight:700;
    }
}