.timeCont{

    .welcome{
        display:flex;
        flex-direction: row;
        gap:1rem;
    }

    .dayIcon{
        align-self: center;
    }

    .timeDiv{
        display: flex;
        align-items:flex-end;

        .timeZone{
            // padding-bottom:16px;
            
        }
    }
}


@media screen and (max-width: 930px){
    .timeCont{
        .timeDiv{
            gap:1rem;

            .h2{
                margin-bottom:66px;
            }
        }
    }
}