h1{
    @include font(700, -0.3rem, 12.5rem);
    line-height: 12.5rem;
}

@media (min-width: 460px) and  (max-width: $smallDesktop){
    h1{
        @include font(700, -0.3rem, 10rem);
        line-height: 12.5rem;
    }
    h2{
        @include font(700, -0.3rem, 3rem);
        
    }
}



h2{
    @include font(400, 0, 3.5rem)
}

h3{
    @include font(700, 0.3rem, 1.5rem);
    text-transform: uppercase;
}

h4{
    @include font(400, 0.25rem, 1.25rem);
    text-transform: uppercase;
}

h5{
    @include font(700, 0, 1.125rem);
}

h6{
    @include font(400, 0.1875rem, 0.93rem);
    text-transform: uppercase;
}

p{
    @include font(400, 0, 1.125rem);
}

@media screen and (max-width: 930px){
    h1{
        @include font(700, -0.3rem, 7rem);
        line-height: normal;
    }

    h2{
        @include font(400, -0.3rem, 2rem);
    }
}

@media screen and  (max-width: 460px){
    h1{
        @include font(700, -0.3rem, 6rem);
        
    }

    h2{
        @include font(400, -0.3rem, 2rem);
    }
}
