$primaryColorBlack : #000000;
$secondaryColorDarkGrey: #303030;
$tertiaryColorWhite: #ffffff;
$paddingMain : 16px;
$softBg : #f7f7f7;


$smallDesktop: 1200px;
$tablet: 800px;
$mobile: 375px;


.hide{
    display: none !important;
    
}

