main{
    height:100vh;
    display:flex;
    direction:column;
    background-size:cover;
    @include flexCenter(column, 100vh);
}

.daytimeBg{
    background-image:url("../../images/desktop/bg-image-daytime.jpg");
}

.mighttimeBg{
    background-image:url("../../images/desktop/bg-image-nighttime.jpg");
}