main{
    background-color:$primaryColorBlack;
    height:100vh;
    display:flex;
    direction:column;
    background-size:cover;
    @include flexCenter(column, 100vh);
   
    
}

.daytimeBg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/desktop/bg-image-daytime.jpg");
}

.nighttimeBg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/desktop/bg-image-nighttime.jpg");
}